{% include 'commonheader.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
{% block content %}
  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About <span>Us</span>
                <a href="static/list.pdf" target="_blank">Click to View/Download Types</a>
              </h2>

            </div>
            <p>
              Considered at the organisational level, CSR is generally
              understood as a strategic initiative that contributes to a brand's
              reputation. As such, social responsibility initiatives must
              coherently align with and be integrated into a business model
              to be successful. With some models, a firm's implementation of
              CSR goes beyond compliance with regulatory requirements and engages
              in "actions that appear to further some social good, beyond the
              interests of the firm and that which is required by law"
            </p>
<p>
  Furthermore, businesses may engage in CSR for strategic or ethical purposes.
  From a strategic perspective, CSR can contribute to firm profits,
  particularly if brands voluntarily self-report both the positive and
  negative outcomes of their endeavors.
  In part, these benefits accrue by increasing positive public
  relations and high ethical standards to reduce business and legal
  risk by taking responsibility for corporate actions. CSR strategies
  encourage the company to make a positive impact on the environment and
  stakeholders including consumers, employees, investors, communities,
  and others. From an ethical perspective, some businesses will adopt
  CSR policies and practices because of the ethical beliefs of senior
  management: for example, the CEO of outdoor-apparel company Patagonia,
  Inc. argues that harming the environment is ethically objectionable
</p>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="/static/img/Pic2.jpg" alt="">
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- end about section -->
{% endblock %}
</body>
</html>