{% include 'adminheader.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% block content %}
  <!-- contact section -->
  <section class="contact_section layout_padding-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-5 offset-md-1">
          <div class="heading_container">
            <h2>
              Add Corporate Details Page
            </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-5 offset-md-1">
          <div class="form_container">
            {{msg}}
            <form action="/adminadddetails2" method="post">
              <div>
                <input type="text" placeholder="Company Id" name="cid" value="{{data.id}}" readonly/>
              </div>
              <div>
                <input type="text" placeholder="Company Name" name="cname" value="{{data.CorporateName}}" readonly/>
              </div>
              <div>
                <input type="email" placeholder="Email Id" name="email" value="{{data.EmailId}}" readonly/>
              </div>
              <div>
                <input type="text" placeholder="Phone Number" name="phnum" value="{{data.PhoneNumber}}" readonly/>
              </div>
              <div>
                <input type="text" placeholder="Actual to Precribed(%)" name="actualprescribed"
                />
              </div>
              <div>
                <input type="text" placeholder="Prescribed CSR(in INR Cr.)" name="prescribedcsr"/>
              </div>
              <div>
                <input type="text" placeholder="Actual CSR(in INR Cr.)" name="actualcsr"/>
              </div>
              <div class="btn_box">
                <input type="submit" value="New Details">
              </div>
            </form>
          </div>
        </div>
        <!--<div class="col-lg-7 col-md-6 px-0">
          <div class="map_container">
            <div class="map">
              <div id="googleMap"></div>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </section>
  <!-- end contact section -->
{% endblock %}
</body>
</html>