{% include 'commonheader.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
{% block content %}
  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Economic  <span>Responsibility</span>
              </h2>
            </div>
            <p>
              The condition that businesses cannot practice extralegal responsibilities if they are losing money. Economic responsibility is also the expectation that business profits are a resultant of positive economic performance in the form of goods and services for consumers, and jobs and compensation for employees.
            </p>
<p>
    These responsibilities are the most basic social responsibilities of business. As we have noted, some economists see these as the only legitimate social responsibility of business. Living up to their economic responsibilities requires managers to maximize profits wherever and whenever possible. The essential responsibility of business is assumed to be providing goods and services to society at a reasonable cost. In discharging that economic responsibility, the company also emerges as socially responsible by providing productive jobs for its workforce, and tax payments for its local, state, and federal governments.
</p>
            <p>
              10 Ways to Implement Environmental Responsibility in Any Workplace
              <ol>
              <li>The managers are bound to perform their economic responsibilities.</li>
<li>The business is committed to generating economic value for its clients, business communities, and society as part of its economic responsibilities.</li>
          </ol>
            </p>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="/static/img/Pic14.jpg" alt="">
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- end about section -->
{% endblock %}
</body>
</html>