{% include 'commonheader.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
{% block content %}
  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Environmental  <span>Responsibility</span>
              </h2>
            </div>
            <p>
              Environmental responsibility is the ethical obligation companies have to protect natural resources, avoid pollution and reduce other forms of environmental harm.
            </p>
<p>
  Corporate environmental responsibility requires businesses to develop a comprehensive strategy that includes various sustainability initiatives. These initiatives include reducing energy consumption, participating in green programs, promoting recycling efforts, and utilizing eco-friendly production processes.
</p>
            <p>
              10 Ways to Implement Environmental Responsibility in Any Workplace
              <ol>
            <li>Implement a recycling program</li>
            <li>Encourage The use of Alternative Means of Transport</li>
            <li>Use Energy-Efficient Equipment</li>
            <li>Go Paperless</li>
            <li>Use Green Cleaning Products</li>
            <li>Encourage Sustainable Practices</li>
            <li>Invest in renewable energy</li>
            <li>Support Environmentally-Friendly Vendors</li>
            <li>Promote Environmentally Friendly Products</li>
            <li>Measure And Track Progress</li>
          </ol>
            </p>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="/static/img/Pic11.jpg" alt="">
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- end about section -->
{% endblock %}
</body>
</html>