{% include 'commonheader.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
{% block content %}
  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Ethical  <span>Responsibility</span>
              </h2>
            </div>
            <p>
              Ethics comes from the Greek word ethos, which means moral character. In simple terms, ethics means knowing the difference between right and wrong and continuing to do the right thing.
            </p>
<p>
  Ethical responsibility in the workplace means that nonprofit boards and leaders recognize various principles and values and act on them responsibly.
</p>
            <p>
              10 Ways to Implement Environmental Responsibility in Any Workplace
              <ol>
              <li>Accepting tainted money – Money that’s been embezzled or stolen</li>
<li>Compensation – Connecting donor funds to compensation rather than furthering the mission</li>
<li>Privacy – Keeping only data that’s necessary from donors</li>
<li>Appearance of impropriety – Engaging in activities that are unethical, yet not illegal</li>
<li>Good stewardship – Using the funds for the reason they were intended for</li>
              <li>Honesty – Telling the whole truth to stakeholders rather than a watered-down version of it</li>
<li>Conflicts of interest – It is illegal for nonprofit board members and staff to profit from a nonprofit’s work or activities</li>
          </ol>
            </p>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="/static/img/Pic12.jpg" alt="" width="400px" height="300px">
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- end about section -->
{% endblock %}
</body>
</html>