{% include 'commonheader.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
{% block content %}
  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Philanthropic <span>Responsibility</span>
              </h2>
            </div>
            <p>
              Philanthropic responsibility refers to a company’s obligation to give back to communities through charitable donations, volunteer work, and community involvement. Philanthropic initiatives can support a variety of causes, including education, health, and social welfare.
            </p>
<p>
  Corporate environmental responsibility requires businesses to develop a comprehensive strategy that includes various sustainability initiatives. These initiatives include reducing energy consumption, participating in green programs, promoting recycling efforts, and utilizing eco-friendly production processes.
</p>
            <p>
              10 Ways to Implement Environmental Responsibility in Any Workplace
              <ol>
            <li>Supporting employee volunteer programs.</li>
<li>Sponsoring community events and initiatives.</li>
<li>Creating a foundation or corporate trust.</li>
          </ol>
            </p>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="/static/img/Pic13.jpg" alt="">
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- end about section -->
{% endblock %}
</body>
</html>