{% include 'commonheader.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
{% block content %}
  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container">
          <h2>
            Our <span>Services</span>
          </h2>
          <p>
            CSR may be based within the human resources, business development or public relations departments of an organisation, or may be a separate unit reporting to the CEO or the board of directors.
          </p>
        </div>
        <div class="row">
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="images/s1.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Engagement plan
                </h5>
                <p>
                  An engagement plan can assist in reaching the desired audience. A corporate social responsibility individual or team plans the goals and objectives of the organization. As with any corporate activity, a defined budget demonstrates commitment and scales the program's relative importance.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="images/s2.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Verification
                </h5>
                <p>
                  Corporate social responsibility and its resulting reports and efforts
                  should be verified by the consumer of the goods and services.
                  The accounting, auditing, and reporting resources provide a foundation for consumers to verify that their products are socially sustainable.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="images/s3.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Ethics training
                </h5>
                <p>
                  The rise of ethics training inside corporations, some of it required
                  by government regulation, has helped CSR to spread. Such training aims
                  to help employees make ethical decisions when the answers are unclear.
                  The most direct benefit is reducing the likelihood of "dirty hands",
                  fines, and damaged reputations for breaching laws or moral norms.
                  Organizations see increased employee loyalty and pride in the organization.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="/static/img/s4.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Community involvement
                </h5>
                <p>
                  This can include raising money for local charities, providing volunteers, sponsoring local events, employing local workers, supporting local economic growth, engaging in fair trade practices, etc.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->

{% endblock %}
</body>
</html>