{% include 'staffheader.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
{% block content %}
<!-- about section -->
<style type="text/css">
    table,tr,th,td
    {
        font-name:arial;
        border:1px solid black;
        border-collapse:collapse;
    }
    table{
    width:100%;
    }
    th,td
    {
    width:200px;
    height:50px;
    text-align:center;
    font-family:verdana;
    }
</style>
<section class="about_section layout_padding">
    <div class="container  ">
        <div class="row">
            <div class="col-md-12">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            NGO Accept/Reject <span>Project Page</span>
                        </h2>
                    </div>
                    <p>
                    <table>
                        <thead>
                        <tr>
                            <th>Project Id</th>
                            <th>Corporate Id</th>
                            <th>Project Name</th>
                            <th>Number Of Companies</th>
                            <th>Number Of Projects</th>
                            <th>Percentage</th>
                            <th>Amount Spent</th>
                            <th>Status</th>
                            <th>Accept Project</th>
                            <th>Reject Project</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in data %}
                        <tr>
                            <td>{{row.id}}</td>
                            <td>{{row.UserId}}</td>
                            <td>{{row.ProjectName}}</td>
                            <td>{{row.NumOfCompanies}}</td>
                            <td>{{row.NumOfProjects}}</td>
                            <td>{{row.Percentage}}</td>
                            <td>{{row.AmountSpent}}</td>
                            <td>{{row.Status}}</td>
                            <td>
                            <a href="/staffaccept_reject1?id={{row.id}}&status=Accept">Accept</a>
                        </td>
<td>
                            <a href="/staffaccept_reject1?id={{row.id}}&status=Reject">Reject</a>
                        </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about section -->
{% endblock %}
</body>
</html>