{% include 'commonheader.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
{% block content %}
  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container">
          <h2>
            Our <span>Types</span>
          </h2>
          <p>
            Corporate social responsibility (CSR) or corporate social impact is a form
            of international private business self-regulation which aims to contribute to
            societal goals of a philanthropic, activist, or charitable nature by engaging in,
            with, or supporting professional service volunteering through pro bono programs,
            community development, administering monetary grants to non-profit organizations
            for the public benefit, or to conduct ethically oriented business and investment
            practices
          </p>
        </div>
        <div class="row">
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="/static/img/Pic11.jpg" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  <a href="/environmentpage">
                  Environmental Responsibility
                  </a>
                </h5>
                <p>
                  Environmental responsibility is our duty to protect and improve our environment. An environmentally responsible individual, industry, community, or government assesses their environmental sustainability and applies this knowledge to their decision-making.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="/static/img/Pic12.jpg" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  <a href="/ethicalpage">
                  Ethical Responsibility
                  </a>
                </h5>
                <p>
                  Ethical responsibility is the ability to recognize, interpret and act upon multiple principles and values according to the standards within a given field and/or context.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="/static/img/Pic13.jpg" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  <a href="/philanthropicpage">
                  Philanthropic Responsibility
                  </a>
                </h5>
                <p>
                  Philanthropic responsibility refers to a company's obligation to give back to communities through charitable donations, volunteer work, and community involvement. Philanthropic initiatives can support a variety of causes, including education, health, and social welfare.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="/static/img/Pic14.jpg" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  <a href="/economicpage">
                  Economic Responsibility
                  </a>
                </h5>
                <p>
                  Economic responsibility refers to the practice of making financial decisions based on a commitment to doing good. Some common examples of economic responsibility include investing in alternative energy sources, putting more money into education programs and funding local charities as a way of bolstering their mission.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->

{% endblock %}
</body>
</html>